<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>About</span></ion-title>
    <ion-button slot="end" fill="clear" size="small" (click)="close()">
      Close
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-padding">
    <ion-card-content>
      <i>Looking for the original version?</i> It's at <a href="v1.cellocad.org">v1.cellocad.org</a>. <br /><br />
      <h1><span translate>APP_NAME</span></h1>
      <p>
        This is Cello v2, the continuation of the Cello genetic circuit design automation software. The original version
        of Cello was published in <i>Science</i> in 2016:
      </p>
      <div style="margin: 0 0.4em 0 1.5em;">
        <a href="http://dx.doi.org/10.1126/science.aac7341" target="_blank"
          >Nielsen, A. A. K.; Der, B. S.; Shin, J.; Vaidyanathan, P.; Paralanov, V.; Strychalski, E. A.; Ross, D.;
          Densmore, D.; Voigt, C. A. Genetic Circuit Design Automation. <i>Science</i> 2016, <b>352</b> (6281),
          aac7341.</a
        >
      </div>
      <p>
        Cello v2 exists thanks to the work of:
      </p>
      <ul id="author-list">
        <li>Amin Espah Borujeni</li>
        <li>Ye Chen</li>
        <li>Yuval Dorfan</li>
        <li>Timothy Jones</li>
        <li>Vincent Mirian</li>
        <li>Chris Myers</li>
        <li>Jai Padmakumar</li>
        <li>YongJin Park</li>
        <li>Jonghyeon Shin</li>
        <li>Mao Taketani</li>
        <li>Shuyi Zhang</li>
        <li>all Cello v1 contributors</li>
        <li>
          <i><a href="http://cidarlab.org/" target="_blank">Douglas Densmore</a></i>
        </li>
        <li>
          <i><a href="http://web.mit.edu/voigtlab/" target="_blank">Chris Voigt</a></i>
        </li>
      </ul>
      <h1>Sources</h1>
      <ul id="sources-list">
        <li>
          Cello v2 core (command line interface)
          <br />
          <a href="http://www.github.com/CIDARLAB/Cello-v2" target="_blank">
            github.com/CIDARLAB/Cello-v2
          </a>
        </li>
        <li>
          Cello v2 webapp REST API
          <br />
          <a href="http://www.github.com/CIDARLAB/Cello-v2-webapp" target="_blank">
            github.com/CIDARLAB/Cello-v2-webapp
          </a>
        </li>
        <li>
          GUI source of the Cello v2 webapp
          <br />
          <a href="http://www.github.com/CIDARLAB/Cello-v2-webapp-gui" target="_blank">
            github.com/CIDARLAB/Cello-v2-webapp-gui
          </a>
        </li>
        <li>
          A Python module for loading Cello-related resources
          <br />
          <a href="http://www.github.com/CIDARLAB/pycello-v2" target="_blank">
            github.com/CIDARLAB/pycello-v2
          </a>
        </li>
        <li>
          A curated collection of gate libraries
          <br />
          <a href="http://www.github.com/CIDARLAB/Cello-UCF" target="_blank">
            github.com/CIDARLAB/Cello-UCF
          </a>
        </li>
        <li>
          The original version of Cello
          <br />
          <a href="http://www.github.com/CIDARLAB/cello" target="_blank">
            github.com/CIDARLAB/cello
          </a>
        </li>
      </ul>
      <h1>Version</h1>
      <!-- <p><ion-icon name="code"></ion-icon> <span translate>Version</span> {{ version }}</p> -->
      <p><ion-icon name="code"></ion-icon> GUI <span translate>version</span> 2.0.0-dev</p>
      <p><ion-icon name="code"></ion-icon> API <span translate>version</span> 2.0.0-SNAPSHOT</p>
      <p><ion-icon name="code"></ion-icon> core <span translate>version</span> 2.0.0-SNAPSHOT</p>
    </ion-card-content>
  </ion-card>
</ion-content>
