<ion-header>
  <ion-toolbar>
	<ion-title>
	</ion-title>
	<ion-buttons slot="start">
	  <div padding>
		<img class="navbar-logo" src="assets/images/banner.png">
	  </div>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card padding>
	<h3>About</h3>
	<p>Cello2 is the continuation of the Cello genetic circuit design software.
	The original version of Cello was published in:</p>
	<div style="margin: 0 .4em 0 1.5em;">
	  Nielsen, A. A. K. <i>et al.</i> Genetic circuit design automation. <i>Science</i>&nbsp;<b>352</b>, aac7341 (2016).
	</div>
	<p>
	  Cello2 is based on the work of:
	</p>
	<ul>
	  <li>Amin Espah Boroujeni</li>
	  <li>Ye Chen</li>
	  <li>Bryan Der</li>
	  <li>Greg Frasco</li>
	  <li>Timothy Jones</li>
	  <li>Vincent Mirian</li>
	  <li>Alec Nielsen</li>
	  <li>Jai Padmakumar</li>
	  <li>Vanya Paralanov</li>
	  <li>David Ross</li>
	  <li>Jonghyeon Shin</li>
	  <li>Elizabeth Strychalski</li>
	  <li>Prashant Vaidyanathan</li>
	  <li>Shuyi Zhang</li>
	  <li><i>Douglas Densmore</i></li>
	  <li><i>Chris Voigt</i></li>
	</ul>
	<h3>Source</h3>
	<p>
	  The Cello2 source can be found at:
	  <br><a href="http://www.github.com/CIDARLAB/Cello2">github.com/CIDARLAB/Cello2</a>.
	</p>
	<p>
	  The source for this webapp can be found at:
	  <br><a href="http://www.github.com/CIDARLAB/Cello2-webapp">github.com/CIDARLAB/Cello2-webapp</a>.
	</p>
	<p>
	  The source for the GUI of this webapp can be found at:
	  <br><a href="http://www.github.com/CIDARLAB/Cello2-webapp-gui">github.com/CIDARLAB/Cello2-webapp-gui</a>.
	</p>
	<p>
	  The source for the original version of Cello can be found at:
	  <br><a href="http://www.github.com/CIDARLAB/cello">github.com/CIDARLAB/cello</a>.
	</p>
  </ion-card>
</ion-content>
