<ion-content>
  <ion-card class="ion-padding">
	<!-- <h3>About</h3> -->
	<ion-row>
	  <ion-col class="ion-no-padding"><h3>About</h3></ion-col>
	  <ion-col class="ion-no-padding">
		<ion-button fill="clear" size="small" class="ion-float-right" (click)="close()">
		  Close
		  <ion-icon name="close"></ion-icon>
		</ion-button>
	  </ion-col>
	</ion-row>
	<p>This is Cello v2, the continuation of the Cello genetic circuit design automation software.
	The original version of Cello was published in <i>Science</i> in 2016:</p>
	<div style="margin: 0 .4em 0 1.5em;">
	  <a href="http://dx.doi.org/10.1126/science.aac7341" target="_blank">Nielsen, A. A. K.; Der, B. S.; Shin, J.; Vaidyanathan, P.; Paralanov, V.; Strychalski, E. A.; Ross, D.; Densmore, D.; Voigt, C. A. Genetic Circuit Design Automation. <i>Science</i> 2016, <b>352</b> (6281), aac7341.</a>
	</div>
	<p>
	  Cello v2 exists thanks to the work of:
	</p>
	<ul>
	  <li>Amin Espah Boroujeni</li>
	  <li>Ye Chen</li>
	  <li>Yuval Dorfan</li>
	  <li>Timothy Jones</li>
	  <li>Vincent Mirian</li>
	  <li>Chris Myers</li>
	  <li>Jai Padmakumar</li>
	  <li>YongJin Park</li>
	  <li>Jonghyeon Shin</li>
	  <li>Mao Taketani</li>
	  <li>Shuyi Zhang</li>
      <li>all Cello v1 contributors</li>
	  <li><i><a href="http://cidarlab.org/" target="_blank">Douglas Densmore</a></i></li>
	  <li><i><a href="http://web.mit.edu/voigtlab/" target="_blank">Chris Voigt</a></i></li>
	</ul>
	<h3>Source</h3>
	<p>
	  The source for Cello v2 can be found at:
	  <br><a href="http://www.github.com/CIDARLAB/Cello-v2" target="_blank">github.com/CIDARLAB/Cello-v2</a>.
	</p>
	<p>
	  The source for this webapp can be found at:
	  <br><a href="http://www.github.com/CIDARLAB/Cello-v2-webapp" target="_blank">github.com/CIDARLAB/Cello-v2-webapp</a>.
	</p>
	<p>
	  The source for the GUI of this webapp can be found at:
	  <br><a href="http://www.github.com/CIDARLAB/Cello-v2-webapp-gui" target="_blank">github.com/CIDARLAB/Cello-v2-webapp-gui</a>.
	</p>
    <p>
	  A Python module for loading Cello-related resources can be found at:
	  <br><a href="http://www.github.com/CIDARLAB/pycello-v2" target="_blank">github.com/CIDARLAB/pycello-v2</a>.
	</p>
    <p>
	  A curated collection of gate libraries can be found at:
	  <br><a href="http://www.github.com/CIDARLAB/Cello-UCF" target="_blank">github.com/CIDARLAB/Cello-UCF</a>.
	</p>
	<p>
	  The source for the original version of Cello can be found at:
	  <br><a href="http://www.github.com/CIDARLAB/cello" target="_blank">github.com/CIDARLAB/cello</a>.
	</p>
  </ion-card>
</ion-content>
