<div *ngIf="!synBioHubService.token">
  <form [formGroup]="loginForm">
    <ion-list>
      <ion-item>
        <ion-select
          interface="popover"
          placeholder="Select a registry"
          [(ngModel)]="registry"
          [ngModelOptions]="{ standalone: true }"
          style="min-width: 100%;"
          class="ion-text-left"
        >
          <ion-select-option value="{{ registry }}" *ngFor="let registry of synBioHubService.registries">{{
            registry
          }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input formControlName="email" type="email" placeholder="{{ 'Email' | translate }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="password" type="password" placeholder="{{ 'Password' | translate }}"></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button (click)="login(loginForm.value)" [disabled]="!loginForm.valid">Login</ion-button>
    </div>
  </form>
</div>
<div *ngIf="synBioHubService.token">
  <!-- <ion-segment [(ngModel)]="mode"> -->
  <!--   <ion-segment-button value="existing"> -->
  <!--     <ion-label>Existing</ion-label> -->
  <!--   </ion-segment-button> -->
  <!--   <ion-segment-button value="create"> -->
  <!--     <ion-label>Create</ion-label> -->
  <!--   </ion-segment-button> -->
  <!-- </ion-segment> -->
  <form [formGroup]="createCollection" *ngIf="mode === 'create'">
    <ion-list>
      <ion-item>
        <ion-input formControlName="name" type="text" placeholder="{{ 'Name' | translate }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea
          formControlName="description"
          type="text"
          placeholder="{{ 'Description' | translate }}"
        ></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-input formControlName="id" type="text" placeholder="{{ 'Id' | translate }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="version" type="text" placeholder="{{ 'Version' | translate }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="citations" type="text" placeholder="{{ 'Citations' | translate }}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label translate>Overwrite</ion-label>
        <ion-checkbox formControlName="overwrite"></ion-checkbox>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-row>
        <ion-col>
          <!-- <ion-button expand="block" (click)="dolog()">Submit</ion-button> -->
          <ion-button
            expand="block"
            (click)="submit(createCollection.value, projectService.project.name, result.name)"
            [disabled]="!createCollection.valid"
            >Submit</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="logout()">Logout</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </form>
  <!-- <form [formGroup]="addToCollection" *ngIf="mode === 'existing'"> -->
  <!--   <ion-list> -->
  <!--     <ion-item> -->
  <!--       <ion-select formControlName="uri" interface="popover" style="min-width:100%" class="ion-text-left"> -->
  <!--         <ion-select-option value="{{c.uri}}" *ngFor="let c of collections">{{c.name}}</ion-select-option> -->
  <!--       </ion-select> -->
  <!--     </ion-item> -->
  <!--     <ion-item> -->
  <!--       <ion-label>Overwrite</ion-label> -->
  <!--       <ion-checkbox formControlName="overwrite"></ion-checkbox> -->
  <!--     </ion-item> -->
  <!--   </ion-list> -->
  <!--   <div class="ion-padding"> -->
  <!--     <ion-row> -->
  <!--       <ion-col> -->
  <!--         <ion-button expand="block" (click)="submit(addToCollection.value)" [disabled]="!addToCollection.valid">Submit</ion-button> -->
  <!--       </ion-col> -->
  <!--       <ion-col> -->
  <!--         <ion-button expand="block" (click)="logout()">Logout</ion-button> -->
  <!--       </ion-col> -->
  <!--     </ion-row> -->
  <!--   </div> -->
  <!-- </form> -->
</div>
