<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="library">
      <ion-icon name="book"></ion-icon>
      <ion-label translate>Library</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="design">
      <ion-icon name="code-working-outline"></ion-icon>
      <ion-label translate>Design</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="options"></ion-icon>
      <ion-label translate>Settings</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="results" disabled>
      <ion-icon name="analytics"></ion-icon>
      <ion-label translate>Results</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
