ion-button {
  --background-hover-opacity: 0;
  --ripple-color: transparent;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.input-sensor-file-datatable-footer {
  padding: 0 1.2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
