ion-card-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid
    var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
}

ion-button {
  --background-hover-opacity: 0;
  --ripple-color: transparent;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.selection {
  display: flex;
}

ion-select {
  margin-right: 1em;
}
