<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
      </ion-header>
	  <ion-content>
		<ion-list lines="none">
		  <div *ngFor="let section of pages">
			<div *ngIf="section.active">
			  <ion-item-divider color="light">
				{{section.name}}
			  </ion-item-divider>
			  <ion-item *ngFor="let item of section.pages" [routerLink]="item.url">
				{{item.name}}
			  </ion-item>
			</div>
		  </div>
		  <ion-item-divider color="light">
			Submission
		  </ion-item-divider>
		  <ion-item>
			<ion-input placeholder="project name" [(ngModel)]="session.project.name"></ion-input>
		  </ion-item>
		  <ion-button shape="round" expand="block" (click)="session.submit()" padding>Submit</ion-button>
		</ion-list>
	  </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
