.editor-card {
  height: 500px;
}

.editor-card-content {
  height: 100%;
}

.editor {
  height: 100%;
  width: 100%;
  display: flex;
}

app-verilog-editor {
  width: 100%;
}

// ion-select {
//   --placeholder-opacity: 0.75;
// }

ion-card-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid
    var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
}
