<ion-item>
  <!-- <ion-select style="width: 50%" placeholder="port" interface="popover" [(ngModel)]="constraint.node"> -->
  <!-- 	<ion-select-option value="{{p}}" *ngFor="let p of ports()">{{p}}</ion-select-option> -->
  <!-- </ion-select> -->
  <ion-select interface="popover" style="display: none;">
  </ion-select>
  <ion-input [(ngModel)]="constraint.device" type="string" placeholder="device"></ion-input>
  <ion-button fill="clear" (click)="deleteClicked()"><ion-icon name="close" slot="end"></ion-icon></ion-button>
</ion-item>
