<ion-content>

  <ion-tabs #projectTabs>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="custom-fab">
	  <ion-fab-button (click)="submit()">
		<ion-icon name="paper-plane"></ion-icon>
	  </ion-fab-button>
	</ion-fab>

	<ion-tab-bar slot="bottom">

	  <ion-tab-button tab="library">
		<ion-badge color="warning" *ngIf="!project.valid('library')"></ion-badge>
		<ion-icon name="book"></ion-icon>
		<ion-label>Library</ion-label>
	  </ion-tab-button>

	  <ion-tab-button tab="design">
		<ion-badge color="warning" *ngIf="!project.valid('verilog')"></ion-badge>
		<ion-icon name="code-working-outline"></ion-icon>
		<ion-label>Design</ion-label>
	  </ion-tab-button>

	  <ion-tab-button tab="settings">
		<ion-badge color="warning" *ngIf="!project.valid('settings')"></ion-badge>
		<ion-icon name="options"></ion-icon>
		<ion-label>Settings</ion-label>
	  </ion-tab-button>

	  <!-- <ion-tab-button tab="constraints"> -->
		<!--   <ion-badge color="warning" *ngIf="!project.valid('constraints')"></ion-badge> -->
		<!--   <ion-icon name="crop"></ion-icon> -->
		<!--   <ion-label>Constraits</ion-label> -->
		<!-- </ion-tab-button> -->

	  <ion-tab-button tab="results" [disabled]="project.project.results.length === 0">
		<ion-icon name="analytics"></ion-icon>
		<ion-label>Results</ion-label>
	  </ion-tab-button>

	</ion-tab-bar>

  </ion-tabs>

</ion-content>
