/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// ngx-datatable overrides
// see ~@swimlane/ngx-datatable/themes/material.scss
// see ~patches (https://www.npmjs.com/package/patch-package)
$ngx-datatable-background: var(--ion-item-background);

$ngx-datatable-default-background: var(--ion-item-background);
$ngx-datatable-default-background-hover: var(--ion-item-background-activated);

$datatable-header-cell-background: var(--ion-item-background);
$datatable-header-cell-color: var(--ion-color-step-550);

$ngx-datatable-selected-active-background: var(--ion-color-primary);
$ngx-datatable-selected-active-background-hover: var(--ion-color-primary-tint);

$datatable-body-cell-color: var(--ion-text-color);

$datatable-footer-cell-color: var(--ion-color-step-550);
    
@import '~@swimlane/ngx-datatable/index.scss';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

// ion-button in selected row: inherit text color
.ngx-datatable.material {
    &.single-selection,
    &.multi-selection,
    &.multi-click-selection {
        .datatable-body-row {
            &.active,
            &.active .datatable-row-group,
            &.active .datatable-row-group datatable-body-cell {
                ion-button {
                    color: inherit;
                }
            }
        }
    }
}

// https://github.com/ionic-team/ionic/issues/12310
// begin workaround
ion-select-popover ion-list ion-item {
	--border-width: 0;
	--inner-border-width: 0;
}

ion-select-popover ion-list ion-item ion-radio {
	--color: transparent;
	--color-checked: transparent;
}
// end workaround

.custom-modal {
	.modal-wrapper {
		--max-height: 200px;
	}
}

ion-popover{
	.popover-wrapper{
		ion-label {
			padding-right: 10px;
		}
		.popover-content{
			width: auto;
			max-width: 90vw;
		}
	}
}
