/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~@ionic/angular/css/ionic.bundle.css";

// Theme customization
@import "theme/theme";

$ngx-datatable-background: var(--ion-item-background);

$ngx-datatable-default-background: var(--ion-item-background);
$ngx-datatable-default-background-hover: var(--ion-item-background-activated);

$datatable-header-cell-background: var(--ion-item-background);
$datatable-header-cell-color: var(--ion-color-step-550);

$ngx-datatable-selected-active-background: var(--ion-color-primary);
$ngx-datatable-selected-active-background-hover: var(--ion-color-primary-tint);

$datatable-body-cell-color: var(--ion-text-color);

$datatable-footer-cell-color: var(--ion-color-step-550);

// ngx-datatable
@import "~@swimlane/ngx-datatable/index.scss";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";

// ion-button in selected row: inherit text color
.ngx-datatable.material {
  &.single-selection,
  &.multi-selection,
  &.multi-click-selection {
    .datatable-body-row {
      &.active,
      &.active .datatable-row-group,
      &.active .datatable-row-group datatable-body-cell {
        ion-button {
          color: inherit;
        }
      }
    }
  }
}

.ngx-datatable-justify-cell-right {
  display: flex !important;
  justify-content: right;
}

.shrink-modal .modal-wrapper {
  @media only screen and (min-width: 768px) and (min-height: 600px) {
    min-height: 430px; // this is hard-coded, couldn't find a way to make the modal fit content height
    height: auto;
  }
}
