<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>Home</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-content>
      <ion-card-title>
        <span translate>Projects</span>
      </ion-card-title>
      <p>
        <app-loader [isLoading]="isLoading"></app-loader>
        <app-project-list [hidden]="isLoading"></app-project-list>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
