<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid padding-top>
    <ion-row padding-top>
      <ion-col col-md-4 offset-md-4 offset-lg-4 col-lg-4 text-center offset-2 col-8>
        <img id="banner" src="assets/images/banner.png">
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col offset-xl="4.5" size-xl="1" offset-lg="3" size-lg="2" offset-md="3" size-md="2" offset-sm="3" size-sm="3">
        <ion-button shape="round" expand="block" routerLink="/login">Login</ion-button>
      </ion-col>
      <ion-col offset-xl="1" size-xl="1" offset-lg="2" size-md="2" offset-md="2" size-sm="3">
        <ion-button shape="round" expand="block" routerLink="/signup">Signup</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
