<ion-header>
  <app-navbar></app-navbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="ion-padding-top">
    <ion-row class="ion-padding-top">
	  <ion-col size-md="4" offset-md="4" offset-lg="4" size-lg="4" offset="2" size="8" class="ion-text-center">
        <img id="banner" src="assets/images/banner.png">
      </ion-col>
    </ion-row>
	<ion-row style="height: 1cm"></ion-row>
    <ion-row class="ion-text-center">
      <ion-col offset-xl="4.5" size-xl="1" offset-lg="3" size-lg="2" offset-md="3" size-md="2" offset-sm="3" size-sm="3">
        <ion-button shape="round" expand="block" routerLink="/login">Login</ion-button>
      </ion-col>
      <ion-col offset-xl="1" size-xl="1" offset-lg="2" size-md="2" offset-md="2" size-sm="3">
        <ion-button shape="round" expand="block" routerLink="/signup">Signup</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
