<ion-header>
  <app-navbar></app-navbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="12" offset-sm="0" size-lg="8" offset-lg="2" class="ion-text-center ion-no-padding">
		<ion-card>
		  <div class="editor" #editor [ngStyle]="{'height': height + 'px'}">
			<iframe src="assets/editor/verilog2001.html" (load)="init()"></iframe>
		  </div>
		</ion-card>
	  </ion-col>
	  </ion-row>
	  <ion-row>
	  <ion-col size-md="3" offset-md="2" size-sm="6" offset-sm="0" size-xs="12" offset-xs="0" class="ion-text-center ion-no-padding">
		<ion-card>
		  <ion-select placeholder="example" interface="popover" style="min-width:20%" [(ngModel)]="sample" class="ion-text-left" (ionChange)="loadVerilog(sample)">
			<ion-select-option value="{{f}}" *ngFor="let f of project.sampleVerilog">{{f}}</ion-select-option>
          </ion-select>
		</ion-card>
  	  </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
