<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text color="medium" class="ion-text-center">
          <h3>Advanced settings</h3>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="12" offset-sm="0" size-md="8" offset-md="2" size-lg="6" offset-lg="3" class="ion-text-center">
        <ion-card>
          <ion-list>
            <ion-item>
              <ion-label class="application-label">Application</ion-label>
              <ion-select interface="popover" [(ngModel)]="project.project.settings.application">
                <ion-select-option *ngFor="let application of applications()" value="{{application}}">{{application}}</ion-select-option>
              </ion-select>
            </ion-item>
            <div *ngFor="let stage of stages()">
              <ion-item>
                <ion-label class="stage-label">{{stage}}</ion-label>
                <ion-select
                  [(ngModel)]="project.project.settings.applications.get(application()).get(stage).algorithm"
                  interface="popover">
                  <ion-select-option *ngFor="let algorithm of algorithms(stage)" value="{{algorithm}}">{{algorithm}}</ion-select-option>
                </ion-select>
              </ion-item>
              <div *ngFor="let parameter of parameters(stage, algorithm(stage))">
                <ion-item>
                  <ion-label class="parameter-label">{{parameter}}</ion-label>
                  <ion-input
                    *ngIf="typeOf(parameterValue(stage, algorithm(stage), parameter)) == 'number'"
                    class="ion-text-right"
                    [ngModel]="parameterValue(stage, algorithm(stage), parameter)"
                    (ngModelChange)="this.project.project.settings.applications.get(application()).get(stage).parameters.get(algorithm(stage)).set(parameter, $event)"
                    type="number"
                    ></ion-input>
                  <ion-input
                    *ngIf="typeOf(parameterValue(stage, algorithm(stage), parameter)) == 'string'"
                    class="ion-text-right"
                    [ngModel]="parameterValue(stage, algorithm(stage), parameter)"
                    (ngModelChange)="this.project.project.settings.applications.get(application()).get(stage).parameters.get(algorithm(stage)).set(parameter, $event)"
                    type="string"
                    ></ion-input>
                  <ion-checkbox
                    *ngIf="typeOf(parameterValue(stage, algorithm(stage), parameter)) == 'boolean'"
                    class="ion-text-right"
                    [ngModel]="parameterValue(stage, algorithm(stage), parameter)"
                    (ngModelChange)="this.project.project.settings.applications.get(application()).get(stage).parameters.get(algorithm(stage)).set(parameter, $event)"
                    ></ion-checkbox>
                </ion-item>
              </div>
            </div>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
